ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: lightblue;
}

ul li {
    float: left;
}

li a{
  display: block;
  color: red;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

button{
    text-align: center;
}

CustomLink:hover{
    background-color: rgb(238, 163, 97);
    border-radius: 4px;
    transition: all 0.2s ease-out;
}


.nav-links-mobile{
    display: none;
}

.menu-icon{
    display: all;
}

@media screen and (max-width: 960px){
    .NavbarItems {
        position: relative;
    }

    .nav-menu{
        display:flex;
        flex-direction: column;
        width:100%;
        height:500px;
        position: absolute;
        top:80px;
        left: -100px;
        opacity: 1;
        transition: all 0.4s ease;
    }

    .nav-menu.active{
        background-color: rgb(14, 219, 230);
        left: 0;
        opacity: 1;
        transition: all 0.4s ease;
        z-index: 1;
    }

    .nav-links{
        background-color: rgb(14,219,230);
        border-radius: 0;
    }

    .menu-icon{
        display: block;
        position: absolute;
        top:0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
    }

    .CustomLink-mobile{
        display: block;
        text-align: center;
        padding:1.5rem;
        margin: 2rem auto;
        width: 80%;
        background:rgb(241, 185, 136);
        text-decoration:solid;
        color:white;
        font-size:1.5rem;
    }

    .CustomLink:hover{
        background: white;
        color: rgb(235, 98, 98);
        transition: 250ms;;
    }
}