:root{
    --primary: red;
}


.btn{
    padding:8px 20px;
    border-radius: 4px;
    outline: none;
    border: none;
    cursor: pointer;
}

.btn:hover{
    padding:8px 20px;
    transition: all 0.4s ease-out;
}